<table class="table point-list">
  <thead class="thead-inverse">
  <tr>
    <th>Squares <span class="badge pull-right badge-default">Total: {{ totalSquares }}</span></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let square of squares" >
    <td scope="row">
      <span  *ngFor="let point of square.corners" class="badge badge-default">[{{ point.x }}, {{ point.y  }}]</span>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <th colspan="2">
      <squares-per-page [(perPage)]="perPage" (perPageChange)="onPaginationChange()"></squares-per-page>
      <ngb-pagination [(collectionSize)]="totalSquares"  [(pageSize)]="perPage" [(page)]="currentPage" [maxSize]="4" [rotate]="true" [boundaryLinks]="true" (pageChange)="onPaginationChange()"></ngb-pagination>
    </th>
  </tr>
  </tfoot>
</table>
