<div class="row">
  <div class="col new-button">
    <squares-new-point-list (notifyAdded)='onPointListAdded()'></squares-new-point-list>
  </div>
</div>
<table class="table point-list">
  <thead class="thead-inverse">
  <tr>
    <th>#</th>
    <th>List Name</th>
    <th>Points in List</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let list of pointLists" >
    <th scope="row">{{ list.id }}</th>
    <td scope="row">
      <a *ngIf="renamingPointList !== list" routerLink="/lists/{{ list.id }}">{{ list.name }}</a>
      <squares-point-list-name-change *ngIf="renamingPointList === list" [selectedPointList]="list" (notify)='onRenameDone()'></squares-point-list-name-change>
    </td>
    <td scope="row">{{ list.points.length }}</td>
    <td class="actions">
      <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="rename(list)">Rename List</button>
        <button type="button" class="btn btn-danger" (click)="delete(list)">Delete</button>
        <button *ngIf="list.points.length !== 0" type="button" class="btn btn-warning" (click)="clean(list)">Clean Points</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
