<table class="table point-list">
  <thead class="thead-inverse">
  <tr>
    <th colspan="2">Points <span class="badge pull-right badge-default">Total: {{ totalPoints }}</span></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let point of points" >
    <td scope="row"><span class="badge badge-default">[{{ point.x }}, {{ point.y }}]</span></td>
    <td scope="row"><button type="button" class="btn btn-sm btn-danger pull-right" (click)="delete(point)">Delete</button></td>
  </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="2">
        <squares-per-page [(perPage)]="perPage" (perPageChange)="onPaginationChange()"></squares-per-page>
        <button type="button" class="btn btn-sm btn-warning pull-right" (click)="exportPage()" >Export current page</button>
        <ngb-pagination [(collectionSize)]="totalPoints"  [(pageSize)]="perPage" [(page)]="currentPage" [maxSize]="4" [rotate]="true" [boundaryLinks]="true" (pageChange)="onPaginationChange()"></ngb-pagination>
      </th>
    </tr>
  </tfoot>
</table>
