<div class="container">
  <div class="row">
    <div class="col action-buttons">
      <button type="button" class="btn btn-sm btn-danger" (click)="onGoBack()">Back</button>
      <div class="pull-right" role="group">
        <squares-import-points [pointList]="pointList" (notifyImported)='onPointAdded()'></squares-import-points>
        <squares-new-point [pointList]="pointList" (notifyAdded)='onPointAdded()'></squares-new-point>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <squares-points *ngIf="pointList" [selectedPointList]="pointList" [needsPointsRefresh]="needsPointsRefresh" (notifyDelete)='onPointDelete()' (notifyUpdate)='onPointsUpdated()'></squares-points>
    </div>
    <div class="col">
      <squares-detected-squares *ngIf="pointList" [selectedPointList]="pointList" [needsSquareRefresh]="needsSquareRefresh" (notifyUpdate)='onSquaresUpdated()'></squares-detected-squares>
    </div>
  </div>
</div>
