Show per page:
<div [(ngModel)]="perPage" ngbRadioGroup name="radioBasic">
  <label class="btn btn-sm btn-primary">
    <input type="radio" [value]="5" (click)="changePerPage(5)"> 5
  </label>
  <label class="btn btn-sm  btn-primary">
    <input type="radio" [value]="10" (click)="changePerPage(10)"> 10
  </label>
  <label class="btn btn-sm  btn-primary">
    <input type="radio" value="20" (click)="changePerPage(20)"> 20
  </label>
  <label class="btn btn-sm  btn-primary">
    <input type="radio" [value]="50" (click)="changePerPage(50)"> 50
  </label>
</div>
