<div class="row">
  <div class="col-10">
    <input [(ngModel)]="selectedPointList.name" name="pointListName" type="text" class="form-control form-control-sm" placeholder="Enter a list name">
  </div>

  <div class="col-2">
    <button type="submit" class="btn btn-primary btn-sm" (click)="rename()">Save</button>
  </div>
</div>
